
/*----------------------------------------------------------*/
/*EVIGMAEs PORTFOLIO*/
/*----------------------------------------------------------*/

body{
    background-color: #000000;
}
main{
    width: 2300px;
    margin: auto;
    font-family: monospace, sans-serif;
    color: #ffffff;
}
h1{
    font-size: 50px;
    margin-bottom: -15px;
}
h2{
    font-size: 25px;
    margin-bottom: -10px;
}
a{
    color:aquamarine;
}
p{
    font-size: 20px;
    color: #ffffffd7;
}
hr{
    margin: 30px 0px 50px 0px;
}
#Group{
    background-color: #242424;
    border-radius: 10px;
    padding: 1px 20px 20px 20px;
    margin-bottom: 50px;
    margin-bottom: 100px;
}
#Section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}
#Element{
    background-color:#353535;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
#Element img{    
    max-width: 700px;
    max-height: 400px;
    width: auto;
    height: auto;
    display: block;
}
#Element iframe{
    width: 700px;
    height: 400px;
    display: block;
}
#Element p{
    width: 700px;
    margin: 5px 0px 30px 0px;
}