/*----------------------------------------------------------*/
/*ASTERMINER*/
/*----------------------------------------------------------*/
body{
    margin: 0;
    background-color: #070707;
}
/*----------------------------------------------------------*/
/*HEADER IMG AND TITLE*/
/*----------------------------------------------------------*/
#niceimg{
    height: 100%;
    width: 100%;
    background-color: #363636;
}
#niceimg img{
    width: 100%;
    margin-bottom: -4px;
}
/*----------------------------------------------------------*/
/*SOCIAL MEDIA LINKS*/
/*----------------------------------------------------------*/
#social{
    width: 900px;
    height: 75px;
    text-align: center;
    margin: 25px auto;
    display: grid;
    grid-auto-flow: column;
}
.brand{
    height: 75px;
    width: 75px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.25s;
}
#Twitter.brand{background-image: url(images/b_twitter.png);}
#Twitter.brand:hover{background-image: url(images/b_twitter_color.png);}
#Steam.brand{background-image: url(images/b_steam.png);}
#Steam.brand:hover{background-image: url(images/b_steam_color.png);}
#Discord.brand{background-image: url(images/b_discord.png);}
#Discord.brand:hover{background-image: url(images/b_discord_color.png);}
#Twitch.brand{background-image: url(images/b_twitch.png);}
#Twitch.brand:hover{background-image: url(images/b_twitch_color.png);}
#Instagram.brand{background-image: url(images/b_instagram.png);}
#Instagram.brand:hover{background-image: url(images/b_instagram_color.png);}
#Facebook.brand{background-image: url(images/b_facebook.png);}
#Facebook.brand:hover{background-image: url(images/b_facebook_color.png);}
#Youtube.brand{background-image: url(images/b_youtube.png);}
#Youtube.brand:hover{background-image: url(images/b_youtube_color.png);}
/*----------------------------------------------------------*/
/*MAIN*/
/*----------------------------------------------------------*/
#asterminer{
    width: 900px;
    margin: 10px auto;
    text-align: left;
    font-family: helvetica, arial, sans-serif;
    color: #eee;
    font-size: 20px;
}
/*----------------------------------------------------------*/
/*VIDEO*/
/*----------------------------------------------------------*/
#amv{
    width: 900px;
    height: 500px;
    margin: 25px 0px;
}
/*----------------------------------------------------------*/
/*ABOUT*/
/*----------------------------------------------------------*/
#AMcontent{
    height: 260px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 0px;
}
#AMcontent img{
    width: 280px;
    margin-top: 20px;
    margin-right: 50px;
    grid-column: 1/2;
}
#AMcontent p{
    padding: 0;
    margin: 0;
    grid-column: 2/3;
}
/*----------------------------------------------------------*/
/*STORE LINKS*/
/*----------------------------------------------------------*/
#storelinks{
    text-align: center  
}
/*----------------------------------------------------------*/
/*ASTEROIDS*/
/*----------------------------------------------------------*/
#asteroids{
    height: 300px;
    font-size: 20px;
    line-height: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(7, 1fr);
}
#asteroids h2{
    grid-column: 1/3;
    grid-row: 1/2;
}
#asteroids p{
    margin-bottom: 0px;
    line-height: 35px;    
}
#quote{
    font-style: italic;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
}
#crystal{
    height: 20vmin;  
    grid-column: 2/3;
    grid-row: 2/4;
}
/*----------------------------------------------------------*/
/*BACK TO MAIN*/
/*----------------------------------------------------------*/
footer{
    text-align: center;
    width: 200px;
    margin: 25px auto;
    font-family: arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    transition: background-color 0.25s;
}
footer p{
    padding: 10px;
}
footer:hover{background-color: #444;}
/*----------------------------------------------------------*/
/*EXTRAS*/
/*----------------------------------------------------------*/
#DiscordLink{
    background-image: url(images/Discord.png);
    margin: 25px auto;
    height: 76px;
    width: 306px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;   
}
hr{width: 900px;}
#preload img{height: 0;}
a:link{text-decoration:none; color:white;}
a:visited{text-decoration:none; color:white;}
a:hover{text-decoration:none; color:#cccccc;}
a:active{text-decoration:none; color:white;}
