/*----------------------------------------------------------*/
/*BENEROT.COM*/
/*----------------------------------------------------------*/

body{
    background-color: #0d0d0d;
}
main{
    width: 1000px;
    margin: auto;
    font-family: monospace, sans-serif;
    color: #ffffff;
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*Extras*/

a:link{text-decoration:none; color:#999;}
a:visited{text-decoration:none; color:#999;}
a:hover{text-decoration:none; color:#fff;}
a:active{text-decoration:none; color:#999;}

#preload img{height: 0;}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*Benerot Title Name*/

header{
    margin: 30px auto;
    width: 900px;
    text-align: center;
}
header img{
    width: 900px;
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*Social Media Links*/
#social{
    width: 900px;
    height: 75px;
    text-align: center;
    margin: 25px auto;
    display: grid;
    grid-auto-flow: column;
}
.brand{
    height: 75px;
    width: 75px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.25s;
}
#Twitter.brand{background-image: url(images/b_twitter.png);}
#Twitter.brand:hover{background-image: url(images/b_twitter_color.png);}
#Steam.brand{background-image: url(images/b_steam.png);}
#Steam.brand:hover{background-image: url(images/b_steam_color.png);}
#Discord.brand{background-image: url(images/b_discord.png);}
#Discord.brand:hover{background-image: url(images/b_discord_color.png);}
#Twitch.brand{background-image: url(images/b_twitch.png);}
#Twitch.brand:hover{background-image: url(images/b_twitch_color.png);}
#Instagram.brand{background-image: url(images/b_instagram.png);}
#Instagram.brand:hover{background-image: url(images/b_instagram_color.png);}
#Facebook.brand{background-image: url(images/b_facebook.png);}
#Facebook.brand:hover{background-image: url(images/b_facebook_color.png);}
#Youtube.brand{background-image: url(images/b_youtube.png);}
#Youtube.brand:hover{background-image: url(images/b_youtube_color.png);}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*Games*/

#GameCategory{
    margin: 0px auto 25px auto;
    padding: 15px 15px 40px 15px;
    text-align: center;
    width: 900px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    background-color: #272727;
    transition: background-color 0.25s;
}
#GameCategory:hover{
    background-color: #1f1f1f;
}
#gamesTitle{
    grid-column: 1/5;
    padding: 0;
    margin: 0px auto; 
}
#gamesTitle h1{
    width: 700px;
    height: 50px;
    background-color: #0d0d0d;
    border-radius:10px;
    font-size: 35px;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
.card{
    height: 230px;
    border-radius:10px;
    transition: background-image 0.25s;
    background-size: cover;    
}
/*CivGame*/
#CivGame{grid-column: 2/4;}
#C03.card{background-image: url(images/IB_C03.png);}
#C03.card:hover{background-image: url(images/IB_C03_hover.png);}
/*Echoes of Unrest*/
#EchoesOfUnrest{grid-column: 3/5;}
#B02.card{background-image: url(images/IB_B02.png);}
#B02.card:hover{background-image: url(images/IB_B02_hover.png);}
/*Bandits: Enter the Fray*/
#Bandits_EnterTheFray{grid-column: 3/5;}
#A05.card{background-image: url(images/IB_A05.png);}
#A05.card:hover{background-image: url(images/IB_A05_hover.png);}
/*Asterminer*/
#Asterminer{grid-column: 1/3;}
#B01.card{background-image: url(images/IB_B01.png);}
#B01.card:hover{background-image: url(images/IB_B01_hover.png);}
/*Asterminer: Discoveries*/
#Asterminer_Discoveries{grid-column: 1/3;}
#B03.card{background-image: url(images/IB_B03.png);}
#B03.card:hover{background-image: url(images/IB_B03_hover.png);}
/*Bandits*/
#Bandits{grid-column: 2/4;}
#A03.card{background-image: url(images/IB_A03.png);}
#A03.card:hover{background-image: url(images/IB_A03_hover.png);}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*About*/

#about{
    margin: 0px auto 0px auto;
    padding: 15px;
    width: 600px;
    text-align: center;
}
#about h1{
    padding: 0px;
    font-size: 30px;
}
#about p{
    padding: 5px;
    margin: 0px;
    font-size: 18px;
    line-height: 25px;
}
#about img{
    height: 150px;
    display: block;
    margin: 20px auto 0px auto;
}
#about a{
    background-color: #3e3e3e;
    padding: 5px 10px;
    border-radius: 10px;
    color: #ffffff;
    transition: color 0.2s;
    transition: background-color 0.2s;
}
#about a:hover{
    color: #00ff76;
    background-color: #0d0d0d;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*Contact and copyright info*/

footer{
    width: 930px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    margin: 0px auto 30px auto;
}
